header {
    height: 120vh;
    padding-top: 7rem;
    overflow: hidden;
    box-shadow: 1rem #222;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.me {
    /* background: var(--color-light); */
    background: linear-gradient(var(--color-primary), transparent);
    margin-top: 5rem;
    position: absolute;
    left: 15%;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8),
        0 6px 20px 0 rgba(3, 200, 239, 0.19);
}
.imgset {
    width: 50rem;
    height: 50rem;
    padding-bottom: 20rem;
}

.scroll__down {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    right: -2.3rem;
    bottom: 5rem;
}

@media screen and (max-width: 1024px) {
    header {
        height: 120vh;
    }
    .imgset {
        width: 45rem;
        height: 60rem;

        padding-bottom: 30rem;
    }
    .me {
        left: 9%;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 80vh;
    }
    .header__socials {
        display: none;
    }
    .scroll__down {
        display: none;
    }
   .imgset {
        width: 20rem;
        height: 40rem;
        padding-bottom: 20rem;
    }
    .zoom {
        zoom: 100%;
    }
    .me {
        left: 5%;
    }
}
