.Footer_Footer__38bAj {
    background-color: #1c1d25;
    width: 100%;
    color: #f5f5f5;
    padding-left: 0;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 4%;
    letter-spacing: 1px;
    align-items: center;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
    .Footer_Footer__38bAj {
        display: none;
    }
    .Phone__Bottom {
        height: 6rem;
    }
}
@media screen and (max-width: 600px) {
    .Footer_Footer__38bAj {
        display: none;
    }
    .Phone__Bottom {
        height: 6rem;
    }
}
